.footer {
  background-color: #212529;
  color: #fff;
  padding: 1rem 0;
  margin-top: 3rem;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
  }
}

.footer-text {
  margin-bottom: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-text {
    margin-bottom: 0;
  }
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
}

.social-icon.facebook {
  background-color: #1877f2;
}

.social-icon.twitter {
  background-color: #1da1f2;
}

.social-icon.instagram {
  background-color: #e1306c;
}
