.hero-card-wrapper {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-card-wrapper:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.hero-card-wrapper:hover img {
  transform: scale(1.05);
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-text.flex-grow-1 {
  flex-grow: 1;
}
.hero-card {
  overflow: hidden; /* keep everything inside the card */
}

.hero-card img {
  transition: transform 0.3s ease;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero-card:hover img {
  transform: scale(1.05); /* slight zoom on hover */
}
