.hero-card-wrapper {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-card-wrapper:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.hero-card img {
  transition: transform 0.3s ease;
}

.hero-card-wrapper:hover img {
  transform: scale(1.05);
}
